/*ESTRUTURA DO SITE*/
body{
    background: #f4f2ec url(/img/fundo.png) repeat-x;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container{
    width: 1080px;
    margin: 0 auto;
    border: 1px solid green;
}    

a:link, a:active ,a:visited{
    color: #af6704;
    text-decoration: none;
}

a:hover{
    color: #d3b182;
}


/*LOGO*/
#logo h1{
    float: left;
}

#logo a{
    width: 250px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(/img/logo.png) no-repeat;
}

/*BARRA DE NAVEGAÇÃO*/
header{
    padding: 15px 0;
    height: 55px;
}

nav ul{
    list-style: none;
    margin: 20px;
    float: right;
}

nav ul li{
    float: left;
}

nav ul li a:link{
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover{
    border-bottom: 1px solid #797268;
}

/*PRINCIPAL*/
#conteudo{
    width: 710px;
    float: left;
    border: 1px solid blue;

}

aside{
    width: 350px;
    float: right;
    background-color: rgb(223, 211, 189);
    margin-bottom: 20px;
    border: 1px solid red;
}

/*SEÇÃO*/
section#visita{
    background-color: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}

section#galeria a{
    display: block;
    background: url(/img/fundo-foto.png) no-repeat;
    border: 1px solid red;
    float: left;
    padding: 18px;
    margin: 10px 0 0 20px;
}

section#galeria{
    padding: 0 20px;
}

section#galeria img{
    margin-top: 2px;
}

section h4{
    color: #86521a;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h3{
    color: #227115;
    font-size: 1.0em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

article#video{
    float: left;
    width: 310px;
    margin-left: 25px;
}

article#mapa{
    float: right;
    width: 310px;
    margin-right: 35px;
}

article#exposicoes{
    float: left;
    width: 310px;
    margin: 25px 0 0 20px;
}

article#historia{
    float: right;
    width: 310px;
    margin: 25px 0 0 35px;
}

/*FORMULÁRIOS*/
input{
    height: 20px;
    background-color: whitesmoke;
    border: none;
    width: 80px;
}

input.campo{
    border: 1px solid #ada484;
    width: 40%;
    text-align: center;
}

input.botao{
    width: 100%;
    height: 30px;
    font-size: 1.2em;
}

fieldset{
    border: none;
}

/*RODAPÉ*/
footer{
    padding: 20px 0 30px 0;
    text-align: center;
    background: url(/img/fundo-rodape.png) no-repeat center top;
}




/*border: 1px solid green;*/